<!-- blog single -->
<div class="blog-single segments-page">
  <div class="container">
    <div class="contents" *ngFor="let data of blog">
      <img src="{{data.image}}" alt="">
      <div class="text">
        <h4>{{data.title}}</h4>
        <p class="date"><i class="fa fa-calendar"></i>January 01 2018</p>
        <p>{{data.body}}</p>       
      </div>
    </div>
    <div class="share-button">
      <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google"></i></a></li>
      </ul>
    </div>
    <div class="comment-form">
      <h4>Leave Your Reply</h4>
      <form>
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Name">
        <input type="email" placeholder="Email">
        <textarea cols="30" rows="10" placeholder="Message"></textarea>
        <button class="button"><i class="fa fa-send"></i>Submit</button>
      </form>
    </div>
  </div>
</div>
<!-- end blog single -->