<!-- contact -->
<div class="contact segments-page">
  <div class="container">
    <div class="contact-contents">
      <div class="pages-title">
        <h3>Contact</h3>
      </div>
      <form>
        <input type="text" placeholder="Name">
        <input type="email" placeholder="Email">
        <input type="text" placeholder="Subject">
        <textarea cols="30" rows="10" placeholder="Message"></textarea>
        <button class="button"><i class="fa fa-send"></i>Send</button>
      </form>
    </div>
  </div>
</div>
<!-- end contact -->