<!-- sign up -->
<div class="sign-up segments-page">
  <div class="container">
  <div class="signup-contents">
    <div class="pages-title">
      <h3>Sign Up</h3>
    </div>
    <form>
      <input type="text" placeholder="Full Name">
      <input type="text" placeholder="Username">
      <input type="email" placeholder="Email">
      <input type="password" placeholder="password">
      <input type="password" placeholder="Retype Password">
      <button class="button"><i class="fa fa-send"></i>Sign Up</button>
    </form>
    <div class="social-login">
      <h5>Sign Up with</h5>
      <div class="row">
        <div class="col s6">
          <button class="button-full button-facebook">Facebook</button>
        </div>
        <div class="col s6">
          <button class="button-full button-twitter">Twitter</button>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <button class="button-full button-linkedin">Linkedin</button>
        </div>
        <div class="col s6">
          <button class="button-full button-google">Google+</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<!-- end sign up -->